<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Divirtam-se</title>
    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        body{
            background: rgb(27, 27, 27);
            transform:translatex(-22px) translatey(178px);
        }

        .container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card{
            background: white;
            width: 270px;
            margin: 10px;
            border-radius:15px ;
        }
        .card2{
            width: 270px;
            margin: 10px;
            border-radius:15px ;
            background-color: rgb(62, 62, 62);
            color: white;
        }

        .card-image{
            height: 170px;
            margin-bottom: 15px;
            background-size: cover;
            border-radius: 15px 15px 0 0 ;
        }
        .jog-1{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/EeDCjjWXoAETtVW.jpg?v=1655300554069");
        }
        .jog-2{
            width: 200px;
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/08e1074b36d375d4feb3e01da81d9a96.png?v=1655300600764");
        }
        .jog-3{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/snake.jpg?v=1655300594584");
        }
        .card h2{
            padding: 10px;
        }
        .card p{
            padding: 10px;
        }
        .card a{
            background-color: black;
            color: white;
            padding:15px 20px;
            display: block;
            text-align: center;
            margin:20px 50px
        }
        .card:hover{
            background-color: rgb(62, 62, 62);
            color: white;
            cursor: pointer;
            transform: scale(1.03);
            transition: all 1s ease;

        }
        .container .card2 img{
 display:inline-block;
 width:178px;
 height:184px;
 transform:translatex(90px) translatey(0px);
 padding-left: 9px;
 border-radius: 15px 15px 0 0
}

/* Card image */
.container .card2 .card-image{
 width:149px;
}
    </style>
    </head>
<body>
    <section class="container">
        <div class="card">
            <div class="card-image jog-1"></div>
            <h2>Taça das casas</h2>
            <p>mostre que você é um verdadeiro fâ de Harry Potter e conquiste a 
                taça das casas. 
            </p>
            <a href="">jogar</a>
        </div>

        <div class="card2">
            <div class="card-image jog-2"></div>
            <h2>Seja Bem Vindo</h2>
            <p>Eai? vamos jogar?</p>
            <img src="https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/bd8c0e2d5da2df00187cd449773315c9.jpg?v=1655401501949">

        </div>

        <div class="card">
            <div class="card-image jog-3"></div>
            <h2>Snake</h2>
            <p>Classico jogo da cobra jogue o maximo que puder e acumule pontos</p>
            <a href="">jogar</a>
        </div>

    </section>

    
      
</body>
</html>