<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Tabela</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/list.css" />
   <script src="https://kit.fontawesome.com/723f0cb31d.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="conteudo">
        <h1>Lista de Tarefas</h1>
        <div class="topo">
            <input type="text" id="inputNovaTarefa" placeholder="Adcione uma  nova tarefa">
            <button id="btnAddTarefa">
                <i class="fa-thin fa-plus"></i>
            </button>
        </div>

        <ul id="listaTarefas">
        </ul>
    </div>

    <div id="janelaEdicao">
        <button id="janelaEdicaoBtnFechar">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <h2 id="idTarefaEdicao">#1021</h2>
        <hr>
        <form>
            <div class = "frm-linha">
                <label for="nome">Nome</label>
                <input type="text" id="inputTarefaNomeEdicao">
            </div>
            <div class="frm-linha">
                <button id="btnAtualizarTarefa">Salvar</button>
            </div>
        </form>
    </div>
<div id="janelaEdicaoFundo"></div>
   
      <script src="../scriptList.js"></script>
    
</body>
</html>