<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="/jogo.css">
    <script src="https://kit.fontawesome.com/723f0cb31d.js" crossorigin="anonymous"></script>
    <title>Divirtam-se</title>
   

    </head>
<body>
    
    <section class="container">
        <div class="card">
            <div class="card-image jog-1"></div>
            <h2>ELDEN RING</h2>
            <p>Levante-se, Manchado, e seja guiado pela graça para brandir o poder do Elden Ring.
            </p>
            <a href="">Alugue já</a>
        </div>

        <div class="card2">
            <div class="card-image jog-2"></div>
            <h2>Seja Bem Vindo</h2>
            <p>Eai? vamos jogar?</p>
            <img src="https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/bd8c0e2d5da2df00187cd449773315c9.jpg?v=1655401501949">

        </div>

        <div class="card">
            <div class="card-image jog-3"></div>
            <h2>GOD OF WAR</h2>
            <p>Com a vingança contra os deuses do Olimpo no passado, Kratos agora vive no reino nórdico.</p>
            <a href="">Alugue já</a>
        </div>

        <div class="card">
            <div class="card-image jog-4"></div>
            <h2>FIFA</h2>
            <p>EA SPORTS™ FIFA 22 deixa o jogo ainda mais real  e uma nova temporada de inovações em todos os modos</p>
            <a href="">Alugue já</a>
        </div>

        <div class="card">
            <div class="card-image jog-5"></div>
            <h2>FORZA</h2>
            <p>Dirija centenas dos melhores carros do mundo e explore a paisagens do mundo aberto.</p>
            <a href="">Alugue já</a>
        </div>

        <div class="card">
            <div class="card-image jog-6"></div>
            <h2>2K22</h2>
            <p>Aprenda com os melhores do ramo quando quiser melhorar seus lances.</p>
            <a href="">Alugue já</a>
        </div>

        <div class="card">
            <div class="card-image jog-7"></div>
            <h3>We Were Here Forever</h3>
            <p>Será que vocês são capazes de encarar as forças sombrias deste reino ou ficarão presos...</p>
            <a href="">Alugue já</a>
        </div>

        <div class="card">
            <div class="card-image jog-8"></div>
            <h2>CUPHEAD</h2>
            <p>Cuphead é um jogo de ação e tiros clássico,Inspirado nas animações infantis da década de 1930</p>
            <a href="">Alugue já</a>
        </div>

        <div class="card">
            <div class="card-image jog-9"></div>
            <h2>Hollow Knight</h2>
            <p>Forje seu caminho em Hollow Knight! Uma aventura de ação épica em um vasto reino. </p>
            <a href="">Alugue já</a>
        </div>


    </section>

    
      
</body>
</html>
