<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo Da Velha</title>
  
  <style>
    body{
    text-align: center;
    background-image: url(../Imagens/Hog.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: wheat;

}
.stage{
    text-align: center;
    
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    background-image: url(../Imagens/Jogo-quadribol-e1521139774240.jpg);
    background-position: center;
    background-size: cover;
    

}
.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F981";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

.x{
    position: relative;
  
}

.x:after{
    position: absolute;
    content: "\1F40D";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.reset{
    background-color: wheat;
}

  </style>
</head>
<body>
    
    <h1>Taça das casas</h1>

    <div class="stage">
        <div>
            <div id="0"class="square"></div>
            <div id="1" class="square"></div>
            <div id="2" class="square"></div>
        </div>
      
        <div>
            <div id="3"class="square"></div>
            <div id="4" class="square"></div>
            <div id="5" class="square"></div>
        </div>
      
        <div>
            <div id="6"class="square"></div>
            <div id="7" class="square"></div>
            <div id="8" class="square"></div>
        </div>

    </div>

    <button onclick="resetar()" id="bt1" class="reset">Resetar</button>
    
    
    <script src="./src/logicaJogoVelha.js" ></script>
    <script src="./src/interfaceJogoVelha.js"></script>    
</body>
</html>