<!DOCTYPE html>
<html>
<head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/tabela.css">
    <title>Divirtam-se</title>
   

    </head>
  
</head>
<body>
  {{>navbar}}
    <header>
            <h1>Meus Jogos</h1>
          </header>
        <div class="row">
          {{#each jogos}}
          <!-- loop inicio -->
        <div class="column">
    <table class="table">
            <thead>
              <tr>
                <th class="nome">nome</th>
                <th class="chave">chave</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <div class="card-image" style="background-image: url('{{imagem}}');"></div>
                  <td class="nome">{{nome}}</td>
                  <td class="chave">{{chave_produto}}</td>
                </tr>
            </tbody>
          </table>
          
    </div>
    {{/each}}
    <!-- fim do loop -->
  </div>


</body>
</html>