/* Container */
.container{
  transform:translatex(-9px) translatey(163px);
}

/* Body */
body{
 background-image:linear-gradient(to right, #000000 0%, #434343 100%);
}

form .form-group{
 transform:translatex(427px) translatey(369px);
 width:684px;
 color: white;
}

/* Label */
label{
 position:relative;
 left:279px;
}
.container p{
 width:21% !important;
}

/* Paragraph */
p{
 position:relative;
 left:374px;
 color: white;
}
#card_go{
  transform:translatex(258px) translatey(242px) !important;
}

/* Form group */
form .form-group{
 transform:translatex(261px) translatey(296px) !important;
}

/* Button */
#card_go button{
 transform:translatex(279px) translatey(0px);
 background-image:linear-gradient(to right, #e6dada 0%, #274046 100%);
   color: white;
}

/* Button */
form .form-group button{
 transform:translatex(288px) translatey(0px) !important;
   background-image:linear-gradient(to right, #e6dada 0%, #274046 100%);
   color: white;
}
#myNav .navbar-nav .btn-danger{
 width:35px;
 height:32px;
 transform:translatex(0px) translatey(4px);
}

/* Font Icon */
.navbar-nav .btn-danger i{
 position:relative;
 top:-4px;
 padding-right:2px;
 left:-4px;
}
