 *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        body{
            background: rgb(27, 27, 27);
            transform:translatex(-22px) translatey(178px);
            overflow-x: hidden;
            
        }

        .container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card{
            background: white;
            width: 270px;
            margin: 10px;
            border-radius:15px ;
        }
        .card2{
            width: 270px;
            margin: 10px;
            border-radius:15px ;
            background-color: rgb(62, 62, 62);
            color: white;
        }

        .card-image{
            height: 170px;
            margin-bottom: 15px;
            background-size: cover;
            border-radius: 15px 15px 0 0 ;
        }
        .jog-1{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/elden.png?v=1655753287099");
        }
        .jog-2{
            width: 200px;
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/08e1074b36d375d4feb3e01da81d9a96.png?v=1655300600764");
        }
        .jog-3{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/good.webp?v=1655753345971");
        }
        .jog-4{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/fifa-22-featured-image.png.adapt.crop16x9.575p.png?v=1655753298248");
        }
        .jog-5{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/thumb-1920-709880.jpg?v=1655753370976");
        }
        .jog-6{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/header.jpg?v=1655753353655");
        }
        .jog-7{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/forever.jpg?v=1655753330176");
        }
        .jog-8{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/cuphead.png?v=1655753278788");
        }
        .jog-9{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/capsule_616x353.jpg?v=1655753267897");
        }
        .card h2{
            padding: 10px;
        }
        .card p{
            padding: 10px;
        }
        .card a{
            background-color: black;
            color: white;
            padding:15px 20px;
            display: block;
            text-align: center;
            margin:20px 50px
        }
        .card:hover{
            background-color: rgb(62, 62, 62);
            color: white;
            cursor: pointer;
            transform: scale(1.03);
            transition: all 1s ease;

        }
        .container .card2 img{
 display:inline-block;
 width:178px;
 height:184px;
 transform:translatex(91px) translatey(0px);
 padding-left: 9px;
 border-radius: 15px 15px;
 border-bottom-right-radius:12px;
 border-bottom-left-radius:12px;
}

/* Card image */
.container .card2 .card-image{
 width:149px;
}

nav{
     transform:translatex(22px) translatey(-175px);
   }

