@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(1, 4, 9);
    font-family: sans-serif;
    font-weight: 300;
}
.box{
    background-color: rgb(13, 17, 23);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: solid 0.2px rgb(152, 158, 164);  
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: aliceblue;
    margin: 30px;
    font-size: 40px;
}
input{
    color: aliceblue;
    font-weight: 300;
}
.input{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    width: 180px;
    height: 50px;
    margin: 15px;
    border-radius: 24px;
    background-color: rgb(13, 17, 23);
    border: solid 2px rgb(71, 71, 219);
    color: aliceblue;
    outline: 0;
    transition: 0.3s;
}
.input:focus{
    width: 250px;
    border: solid 2px rgb(35, 134, 54)  ;
}
.button{
   margin: 10px;
   width: 150px;
   height: 50px;
   border-radius: 24px;
   font-size: 20px;
   background-color: rgb(13, 17, 23);
   color: aliceblue;
   border: solid 1px rgb(35, 134, 54);
   transition: 0.5s;
}
.button:hover{
    background-color: rgb(62, 165, 62);
    
}
p{
    padding-left: 50px;
    margin: 15px;
    color: #f9f9ff;
}
a{
    color:rgb(22, 128, 203)
}
label{
  color: white;
}

