* {
  box-sizing: border-box;
}
.row{
    background-image:linear-gradient(-82deg, rgb(60,59,63) 0%, rgb(96,92,60) 100%);
}

.row tr td{
 padding-right:151px !important;
 position:relative;
 top:-33px !important;
}


body {
    background: rgb(27, 27, 27);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}
header{
 width:13% !important;
 transform:translatex(726px) translatey(26px);
 color: white;
}
.column{
    background-color: rgb(22, 35, 47);
    color: white;
            width:1159px;
            margin: 0 -5px;
            margin-top: 43px;
            border-radius:15px ;
            transform:translatex(171px) translatey(4px);
        }
        .card h3{
            padding: 10px;
        }
        .card p{
            padding: 10px;
        }
        

/* Chave */
.table tr .chave{
 transform:translatex(625px) translatey(-32px);
 position:relative;
 left:4px;
 top: -16px;
}


/* Nome */
.table tr .nome{
  transform:translatex(82px) translatey(41px);
 padding-right:154px !important;
}

.table thead .nome{
  transform:translatex(192px) translatey(56px);
}

/* Nome */
.table tbody .nome{
  transform:translatex(269px) translatey(-39px);
}

/* Chave */
.table thead .chave{
  transform:translatex(359px) translatey(-64px);
}

/* Chave */
.table tbody .chave{
  transform:translatex(157px) translatey(39px);
}
nav{
    transform:translatex(22px) translatey(-175px);
   }